body{
    margin: 0;
    padding: 0;
    width: 100em;
    height: 20em;
    display: flex;
    justify-content: center;
}

section{
    display:flex;
    width:25em;
    height: 30em; 
    
}

.navigation{
    margin-top: 40px;
    width: 50vw;
    justify-content: center;
    position: flex;
    display: flex;
    background-color: rgb(236, 236, 236);
    border-radius: 30px;
    border: 2px solid black;
}


#home, #games, #settings{
    width: 30px;
    height: 30px;
    padding:5px;
    padding-top: 8px;
    
}

#home-button, #games-button, #settings-button{
    border-radius: 30px;
    background-color: white;
    transition:0.1s;
}

#home-button:hover, #games-button:hover, #settings-button:hover{
    margin-left: 20px;
    margin-right:20px;
    transition-duration: 0.2s;
}

#home-button:active, #home-button:focus{
    background-color: rgb(240, 240, 240);
    transition: 0.7s;
}

#games-button:active, #games-button:focus{
    background-color: rgb(240, 240, 240);
    transition: 0.7s;
}

#settings-button:active, #settings-button:focus{
    background-color: rgb(240, 240, 240);
    transition: 0.7s;
}

section nav ul{
    list-style: none;
    display: flex;
    padding: 10px;
    margin: 10px;
}

section nav ul li{
    margin:20px;
    text-decoration: none;
}